body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #F9F7F0;
}

/* header --------------------------------*/
header {
    height: 65px;
    background-color: #3E98A4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.icons {
    display: flex;
}

.github-icon,
.theme-icon {
    width: 25px;
    height: 25px;
    margin-right: 41px;
}

.home-button,
.about-button {
    position: absolute;
    top: 19px;

    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}

.home-button {
    left: 286px;
    color: white;
}

.about-button {
    left: 378px;
}

.not-link {
    text-decoration: none;
    color: #D5D5D5;

    display: flex;
    align-items: center;
    text-align: center;
}

/* end header --------------------------------*/

/* region -----------------------*/
.region {
    display: flex;
    align-items: center;
}

.upload-region,
.search-region {
    background: #D9D9D9;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.upload-region {
    width: 533px;
    height: 120px;
    margin-left: 86px;
    margin-right: 40px;
    margin-top: 26px;
}

.search-region {
    width: 663px;
    height: 120px;
    margin-top: 26px;
}

/* end region -------------------*/

/* text Only accepted .jpg file -----------------------*/
.note {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    height: 42px;
    display: flex;
    color: #5A5A5A;

    justify-content: center;
}

.note-right {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    height: 42px;
    display: flex;
    color: #5A5A5A;
}

.format-note {
    margin-top: 17px;
}

.dataset-note {
    margin-left: 28px;
    margin-top: 17px;
}

.method-note {
    margin-left: 96px;
    margin-top: 17px;
}

/* end text Only accepted .jpg file -------------------*/

/* input load image -----------------------*/
.input {
    display: flex;
}

.custom-file-upload {
    width: 200px;
    height: 50px;
    background-color: white;
    color: #188CA5;
    border-radius: 10px;

    margin-left: 39px;
    margin-top: 10px;
}

#file-input {
    display: none;
}

label {
    display: flex;
    cursor: pointer;
}

.text-button {
    height: 27px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 530;
    font-size: 20px;
    line-height: 27px;

    margin-top: 14px;
    margin-left: 12px;
}

.upload-icon {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-top: 13px;
}

.or-note {
    margin-top: 24px;
    margin-left: 18px;
}

.url-upload-container {
    display: flex;
    width: 200px;
    height: 50px;

    margin-left: 18px;
    margin-top: 10px;
}

input[type="text"] {
    outline: none;
    /* hide outline by default */
}

input[type="text"]:focus {
    outline: 2px solid #188CA5;
    /* show outline when focused */
}

#url-input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;

    font-size: 18px;
    color: #188CA5;
}

input::-webkit-input-placeholder {
    font-size: 20px;
    color: #949494;
    text-align: center;
}

/* Mozilla Firefox */
input::-moz-placeholder {
    font-size: 20px;
    color: #949494;
    text-align: center;
}

/* Microsoft Internet Explorer */
input::-ms-input-placeholder {
    font-size: 20px;
    color: #949494;
    text-align: center;
}

.no-underline {
    text-decoration: none;
}

/* end input load image -------------------*/

/* input search -------------------*/
select {
    background-color: white;
    color: #188CA5;
    width: 200px;
    height: 50px;
    border-radius: 10px;

    font-style: normal;
    font-weight: 530;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;

    outline: none;
    border: none;
}

.dataset-select {
    margin-left: 28px;
    margin-top: 11px;
}

.method-select {
    margin-left: 18px;
    margin-top: 11px;
}

.search-icon {
    width: 25px;
    height: 25px;
    margin-left: 30px;
    margin-top: 13px;
}

.btn-search {
    display: flex;
    width: 170px;
    height: 50px;
    margin-top: 11px;
    margin-left: 18px;

    background: #FFFFFF;
    color: #188CA5;
    border-radius: 10px;

    outline: none;
    border: none;

    cursor: pointer;
}

.text-search {
    width: 66px;
    height: 27px;
    margin-left: 14px;
    margin-top: 12px;

    font-style: normal;
    font-weight: 530;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;

    text-decoration: none;
    color: #188CA5;
}

/* end input search ---------------*/

/* image review -----------------------*/
.review-container {
    width: 1040px;
    height: 457px;
    margin-left: 184px;
    margin-top: 25px;

    overflow: hidden;
}

.review-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* end image review -------------------*/