<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Demo</title>
</head>

<body>
    <form method="POST" enctype="multipart/form-data" action="/result">
        <input type="text" id="image-url" name="image-url">
        <img id="preview-image">
        <input type="submit">
        <div class="error" id="error-message"></div>
    </form>
</body>

<script>
    const imageUrl = document.getElementById('image-url');
    const previewImage = document.getElementById('preview-image');
    const errorMessage = document.getElementById('error-message');

    imageUrl.addEventListener('input', function () {
        const url = this.value;
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.blob();
            })
            .then(blob => {
                errorMessage.style.display = "none";
                previewImage.src = URL.createObjectURL(blob);
            })
            .catch(error => {
                errorMessage.style.display = "block";
                errorMessage.textContent = `Invalid URL: ${error}`;
            });
    });
</script>

</html>