<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/image/icon/logo.ico">
    <link rel="stylesheet" href="../static/css/style_about.css">
    <title>About - CBIR system</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <a href="../templates/index.html">
                <img src="../static/image/icon/logo_text.svg" alt="logo" class="logo" />
            </a>
        </div>
        <div class="buttons">
            <button class="home-button">
                <a href="../templates/index.html" class="not-link">Home</a>
            </button>
            <button class="about-button">About</button>
        </div>
        <div class="icons">
            <a href="https://github.com/ShenggKai/CBIR_System" target="_blank">
                <img src="../static/image/icon/github.svg" alt="github" class="github-icon">
            </a>
            <img src="../static/image/icon/light.svg" alt="theme" class="theme-icon">
        </div>
    </header>

    <div class="content">
        <figure>
            <img src="../static/image/gautier_salles.jpg" alt="paris_gautier_salles" class="paris-image">
            <figcaption>
                Photo by <a
                    href="https://unsplash.com/de/@yamnez?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank" class="not-link-caption">Gautier Salles</a> on <a
                    href="https://unsplash.com/photos/a8PGxjLxC1U?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    target="_blank" class="not-link-caption">Unsplash</a>
            </figcaption>
        </figure>

        <p class="text-container">
            <a class="title">Content-based image retrieval system</a>
            <br>
            <br>
            <br>
            <a class="lorem-ipsum">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Et magnis dis parturient montes nascetur ridiculus mus. Sed vulputate odio ut enim
                blandit volutpat. Justo laoreet sit amet cursus sit amet dictum ea sit. Sit amet nisl purus in mollis
                nunc sed id semper. Vestibulum sed arcu no odio in et a euismod. Sit amet consectetur adipiscing elit.
                Id aliquet lectus e proin nibh Massa odio amet nisl condimentum id venenatis. Massa tincidunt nunc
                pulvinar sapien et. Nibh nisl.
                <br>
                <br>
                Condimentum de id venenatis a. Justo donec enim diam vulputate ut. Volutpat maecenas volutpat blandit
                aliquam etiam. Mi eget mauris pharetra et ultrices neque ornare gi aenean euismod. Velit laoreet id
                donec ultrices tincidunt Integer feugiat scelerisque varius morbi i enim nunc faucibus a. Vel pretium
                lectus quam id leo in. Molestie nunc non blandit massa enim nec.
            </a>
        </p>
    </div>
</body>

</html>