<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/image/icon/logo.ico">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>CBIR system</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <a href="/">
                <img src="../static/image/icon/logo_text.svg" alt="logo" class="logo" />
            </a>
        </div>
        <div class="buttons">
            <button class="home-button">Home</button>

            <button class="about-button">
                <a href="/about" class="not-link">About</a>
            </button>

        </div>
        <div class="icons">
            <a href="https://github.com/ShenggKai/CBIR_System" target="_blank">
                <img src="../static/image/icon/github.svg" alt="github" class="github-icon">
            </a>
            <img src="../static/image/icon/light.svg" alt="theme" class="theme-icon">
        </div>
    </header>

    <form method="POST" enctype="multipart/form-data" action="/result">
        <div class="region">

            <div class="upload-region">
                <div class="note">
                    <!-- show error message here -->
                    <p class="format-note">Only .jpg files are accepted</p>
                </div>

                <div class="input">
                    <!-- input  -->
                    <div class="custom-file-upload">
                        <input type="file" id="file-input" name="query_img" accept="image/jpeg">

                        <label for="file-input">
                            <img src="../static/image/icon/upload.svg" alt="upload" class="upload-icon">
                            <p class="text-button">Upload image</p>
                        </label>
                    </div>

                    <div class="note">
                        <p class="or-note">or</p>
                    </div>

                    <div class="url-upload-container">
                        <input type="text" id="url-input" name="query_img" placeholder="Enter image URL">
                    </div>
                </div>
            </div>

            <div class="search-region">
                <div class="note-right">
                    <p class="dataset-note">Select dataset:</p>
                    <p class="method-note">Select method:</p>
                </div>

                <div class="input">
                    <select class="dataset-select" name="dropdown_dataset">
                        <option value="oxford">Oxford Buildings</option>
                        <option value="paris">Paris dataset</option>
                    </select>

                    <select class="method-select" name="dropdown_method">
                        <option value="vgg16">VGG16</option>
                        <option value="cnn">CNN</option>
                    </select>

                    <!-- summit -->
                    <button class="btn-search" type="submit" value="Submit">
                        <img src="../static/image/icon/search.svg" alt="search" class="search-icon">
                        <p class="text-search">Search</p>
                    </button>

                </div>
            </div>

        </div>
    </form>

    <div class="review-container">
        <img src="../static/image/review.jpg" alt="review image" class="review-image">
    </div>

    <script>
        const fileInput = document.getElementById('file-input'); // upload image file
        const imageUrl = document.getElementById('url-input'); // upload image by URL
        const reviewImage = document.querySelector('.review-image'); // image preview
        const errorMessage = document.querySelector('.format-note'); // error message

        // function to upload image file
        fileInput.addEventListener('change', function () {
            const file = this.files[0];
            const reader = new FileReader();

            //check if the file is jpg or not
            if (file.type !== "image/jpeg") {
                errorMessage.innerHTML = "Error: file type must be .jpg!";
                errorMessage.style.color = '#E51515';
                return;
            } else {
                errorMessage.innerHTML = "Upload successful!";
                errorMessage.style.color = '#5A5A5A';
            }

            reader.addEventListener('load', function () {
                reviewImage.src = reader.result;
            });

            reader.readAsDataURL(file);
        });

        // function to upload image by URL
        imageUrl.addEventListener('input', function () {
            // check if the url value is empty or just whitespaces and also check
            // if the url contains image data or not
            // for more information open developer tools in web browser
            const url = this.value.trim();
            if (url) {
                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP status ${response.status}`);
                        }
                        return response.blob();
                    })
                    .then(blob => {
                        errorMessage.innerHTML = "Upload successful!";
                        errorMessage.style.color = '#5A5A5A';
                        reviewImage.src = URL.createObjectURL(blob);
                    })
                    .catch(error => {
                        errorMessage.style.display = "block";
                        errorMessage.style.color = '#E51515';
                        errorMessage.textContent = `${error}`;
                    });
            }
        });
    </script>
</body>

</html>