<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" type="image/x-icon" href="../static/image/icon/logo.ico"> -->
    <link rel="stylesheet" href="../static/css/st.css">
    <title>Demo result</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <a href="/">
                <img src="../static/image/icon/logo_text.svg" alt="logo" class="logo" />
            </a>
        </div>

        <div>
            <button class="home-button">
                <a href="/" class="not-link">Home</a>
            </button>
            <button class="about-button">
                <a href="/about" class="not-link">About</a>
            </button>
        </div>

        <div class="icons">
            <a href="https://github.com/ShenggKai/CBIR_System" target="_blank">
                <img src="../static/image/icon/github.svg" alt="github" class="github-icon">
            </a>
            <img src="../static/image/icon/light.svg" alt="theme" class="theme-icon">
        </div>
    </header>

    <div class="main-container">

        <div class="left-side">
            <p class="text-query">Query</p>
            <!-- {% if query_path %} -->
            <img src="../static/image/review.jpg" alt="query-image" class="query-image">
            <!-- <img src="{{ query_path }}" width="300px"> -->
            <!-- {% endif %} -->
        </div>

        <div class="vertical-line"></div>

        <div class="right-side">
            <p class="text-result">20 results (0.70 seconds)</p>
            <!-- {% for score in scores %} -->
            <!-- <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                <img src="{{ score[1] }}" height="200px">
                <figcaption>{{ score[0] }}</figcaption>
            </figure> -->
            <!-- {% endfor %} -->
            <div class="result-container">
                <ul class="image-gallery">
                    <li>
                        <img src="../static/dataset/Oxford5k/all_souls_000019.jpg" alt="1" />
                        <div class="overlay"><span>Score: 1.2</span></div>
                    </li>
                    <li>
                        <img src="../static/image/gautier_salles.jpg" alt="2">
                        <div class="overlay"><span>Image title</span></div>
                    </li>
                    <li>
                        <img src="../static/dataset/Oxford5k/all_souls_000048.jpg" alt="3">
                        <div class="overlay"><span>Image title</span></div>
                    </li>
                    <li>
                        <img src="../static/dataset/Oxford5k/all_souls_000114.jpg" alt="4">
                        <div class="overlay"><span>Image title</span></div>
                    </li>
                    <li>
                        <img src="../static/dataset/Oxford5k/all_souls_000148.jpg" alt="5">
                        <div class="overlay"><span>Image title</span></div>
                    </li>
                    <li>
                        <img src="../static/image/gautier_salles.jpg" alt="6">
                        <div class="overlay"><span>Image title</span></div>
                    </li>
                    <li>
                        <img src="../static/dataset/Oxford5k/all_souls_000055.jpg" alt="7">
                        <div class="overlay"><span>Image title</span></div>
                    </li>
                    <li>
                        <img src="../static/dataset/Oxford5k/all_souls_000029.jpg" alt="8">
                        <div class="overlay"><span>Image title</span></div>
                    </li>
                    <li>
                        <img src="../static/dataset/Oxford5k/all_souls_000057.jpg" alt="9">
                        <div class="overlay"><span>Image title</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    </div>
</body>

</html>